In [1]:
import pandas as pd

df = pd.read_csv('c:/data/rides/rides.csv')
df.head()

  weekend  num.child    distance  rides  games  wait  clean  overall
0     yes          0  114.648259     87     73    60     89       47
1     yes          2   27.014097     87     78    76     87       65
2      no          1   63.300975     85     80    70     88       61
3     yes          0   25.909931     88     72    66     89       37
4      no          4   54.718307     84     87    74     87       68

In [2]:
df2 = pd.get_dummies(df['weekend'], prefix = 'weekend', dtype = int)
df = pd.concat([df, df2], axis = 1)
del df['weekend']
df.head()

,num.child,distance,rides,games,wait,clean,overall,weekend_no,weekend_yes
0,0,114.648259,87,73,60,89,47,0,1
1,2,27.014097,87,78,76,87,65,0,1
2,1,63.300975,85,80,70,88,61,1,0
3,0,25.909931,88,72,66,89,37,0,1
4,4,54.718307,84,87,74,87,68,1,0

In [3]:
X = df[['num.child', 'distance', 'rides', 'games', 'wait', 'clean', 
        'weekend_no', 'weekend_yes']]
y = df['overall']

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, 
                                                    random_state = 10)
model = LinearRegression().fit(X_train, y_train)


print('학습용:', model.score(X_train, y_train))
print('검증용:', model.score(X_test, y_test))

학습용: 0.6670609590984946
검증용: 0.7212343349658575

In [5]:
# 자녀수, 거리, 놀이기구점수, 게임점수, 대기시간점수, 청결도, 평일여부, 주말여부
model.predict([[2, 20, 80, 70, 80, 90, 0, 1]])

c:\python3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53.30062057])

In [6]:
model.predict([[3, 10, 80, 70, 80, 90, 1, 0]])

c:\python3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([57.97589809])

In [7]:
import joblib
joblib.dump(model, 'c:/data/rides/rides_regress.model')

['c:/data/rides/rides_regress.model']