In [3]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [4]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i)

1
2
3
4
5

In [5]:
a = range(10)
print(type(a))
print(a)
print(list(a))

<class 'range'>
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a = list(range(10))
print(a, '\n')

#range(start, stop)
a = range(1, 11)
print(a)
a = list(range(1, 11))
print(a, '\n')

#range(start, stop, step)
a = list(range(1, 11, 2))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 3, 5, 7, 9]

In [10]:
a = 0
for i in range(1, 11):
    a += i
print(a)

55

In [5]:
for x in range(2, 5):
    #print(f'=== {x}단 ===')
    print('=== ', x, '단 ===')
    for y in range(1, 10):
        print(f'{x} x {y} = {x*y:2d}')
    print()

===  2 단 ===
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

===  3 단 ===
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

===  4 단 ===
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [13]:
a = [(1, 2), (3, 4), (5, 6)]
for(first, last) in a :
    print(f'{first}+{last}={first + last}')

1+2=3
3+4=7
5+6=11

In [14]:
points = [90, 25, 67, 45, 80]
number = 0
for point in points:
    number = number + 1
    if point >= 60:
        result = '합격'
    else :
        result = '불합격'
    print(f'{number}번 학생 : {point}점, {result}입니다.')

1번 학생 : 90점, 합격입니다.
2번 학생 : 25점, 불합격입니다.
3번 학생 : 67점, 합격입니다.
4번 학생 : 45점, 불합격입니다.
5번 학생 : 80점, 합격입니다.

In [15]:
a = {x: x**2 for x in (2, 4, 6)}
print(a)

{2: 4, 4: 16, 6: 36}